# Параметры подключения к PostgreSQL
DB_HOST=c37e696087932476c61fd621.twc1.net
DB_PORT=5432
DB_NAME=default_db
DB_USER=gen_user
DB_PASSWORD=Poison-79
DB_SSL_MODE=verify-full

# URL CSV файлов
CSV_TIRES_URL=https://files.selectyre.ru/a42eab22-713d-4cf4-b618-b9b4d4a8d09c.csv
CSV_RIMS_URL=https://files.selectyre.ru/6aaad4d8-68b1-43cc-a238-90432d7ffa94.csv

# Настройки обновления
BATCH_SIZE=500
UPDATE_INTERVAL=14400

# Telegram уведомления (опционально)
# TELEGRAM_BOT_TOKEN=your_bot_token
# TELEGRAM_CHAT_ID=your_chat_id
